.navbar-brand {
  font-size: 30px;
}

.nav-item {
  font-size: 20px;
}

@media (min-width: 300px) {
  body {
    max-width: 83%;
    margin: 0 auto !important;
    float: none !important;
    background-color: rgba(12,12,12,0.95);
  }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.7) !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255,255,255,1);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
}

