.navbar-brand {
  font-size: 30px;
}

.nav-item {
  font-size: 15px;
}

@media (min-width: 300px) {
  body {
    max-width: 83%;
    margin: 0 auto !important;
    float: none !important;
    /*background-color: rgba(12,12,12,0.95);*/
    background-color: rgba(250,250,250,1);
  }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(73,143,217,1) !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(29,29,31,1);
}

@media (max-width: 767px) {
  .navbar-light .navbar-nav .nav-link {
    color: rgba(29,29,31,.5);
    padding: 8px 7px;
  }
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color: rgba(29,29,31,.5);
    padding: 8px 18px;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(29,29,31,0);
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .para1 {
    padding-left: 36px;
    width: 50%;
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .para1 {
    padding-left: 22px;
    padding-right: 25px;
    width: 95%;
    padding-top: 0px;
  }
}

.essay {
  color: rgb(73,143,217);
  text-decoration: underline;
}

.blogpost {
  color: rgb(73,143,217);
  text-decoration: underline;
}

a:hover {
  color: rgb(73,143,217);
  text-decoration: underline;
}

.blogpost a {
  color: rgb(73,143,217);
  text-decoration: underline;
}

.row.bookrow {
  padding-top: 25px;
}

.book {
  color: rgb(73,143,217);
  text-decoration: underline;
  /*padding-left: 40px;*/
}

.book {
  color: rgb(73,143,217);
  text-decoration: underline;
  /*padding-left: 40px;*/
}

.book {
  color: rgb(73,143,217);
  text-decoration: underline;
  /*padding-left: 40px;*/
}

@media (min-width: 768px) {
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 36px;
  }
}

@media (max-width: 767px) {
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 22px;
    padding-right: 28px;
    /*font-size: 12px;*/
  }
}

.bookshelf p {
  font-size: 12px;
}

@media (min-width: 768px) {
  .bookshelf p {
    max-width: 50%;
    font-size: 12px;
    padding-top: 20px;
  }
}

@media (min-width: 767px) {
  .bookshelf .book {
    max-width: 50%;
  }
}

.nav-link.active.d-md-flex.justify-content-md-end.navitem {
  margin: 0px;
  padding: 8px 7px;
  /*color: white;*/
}

