.navbar-brand {
  font-size: 30px;
}

.nav-item {
  font-size: 20px;
}

@media (min-width: 300px) {
  body {
    max-width: 83%;
    margin: 0 auto !important;
    float: none !important;
    /*background-color: rgba(12,12,12,0.95);*/
    background-color: rgba(250,250,250,1);
  }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(73,143,217,1) !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(29,29,31,1);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(29,29,31,.5);
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(29,29,31,0.5);
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .para1 {
    padding-left: 40px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .para1 {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
}

.para1 {
  /*padding-top: 30px;*/
}

a:hover {
  color: rgb(73,143,217);
  text-decoration: underline;
}

.row.bookrow {
  padding-top: 25px;
}

.book {
  color: rgb(73,143,217);
  text-decoration: underline;
  padding-left: 40px;
}

.book {
  color: rgb(73,143,217);
  text-decoration: underline;
  padding-left: 40px;
}

.book {
  color: rgb(73,143,217);
  text-decoration: underline;
  padding-left: 40px;
}

